name: Run integration example tests

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  MANAGEMENT_CLUSTER_ENVIRONMENT: "isolated-kind"

jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: setupGo
        uses: actions/setup-go@v6.0.0
        with:
          go-version-file: go.mod
      - name: Display kind version
        run: kind version
      - name: Display docker version
        run: docker version
      - name: Run e2e tests
        run: make test-e2e
      - name: Collect run artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: _artifacts
